<h5 class="title center-align">Professores</h5>
<div class="row">
	<div class="container">
		<% @professors.each do |prof| %>
			<div class ="row">
				<div class ="center col s12 l3">
				<%= image_tag(prof.avatar.url(:medium), :class => "foto circle responsive-img") %>
				</div>
				<div class="col s12 l9">
					<br>
					<strong class="nome">Nome:</strong>
					<%= prof.name %><br>
					<strong class="nome">Cargo:</strong>
					<%= prof.role %><br>
					<strong class="nome">Área:</strong>
					<%= prof.area %><br>
					<%= link_to "Mais Info", prof, method: :get %>
				</div>
			</div>
		<div class="divider"></div><br>
		<% end %>
	</div>
</div>
